
{% extends 'base.html' %}
{% block body %}

<style>
  
  body{
    background-color:rgb(225, 207, 214) ;
}

</style>




<div class="container">
<div class="row" style="margin-top: 5px;">
<div class="col-md-6">
<img src="{{movie.img.url}}" width="250" height="250">
</div>
<div class="col-md-6">
<div class="text-right">
 <h4  class="text-left">{{movie.name}}<br></h4> 
 <h5 class="text-left"> {{movie.desc}}<br></h5>
<h6 class="text-left">{{movie.year}}</h6>
</div>
</div>
</div>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <div class="text-center">

<!-- <style>
    .button-container {
      text-align: center; /* Center-align the buttons */
      
    }
  </style> -->
  <div class="button-container">
<a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a>
<a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>

</div>
{% endblock %} 