

{% extends 'base.html' %}
{% load static %}
{% block body %}



<style>
  
  body{
    background-color:hwb(336 21% 56%) ;
}

</style>

 
<div class="conatiner">
  <div class="row">
  <style>
    .cards {
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 10px solid #e0d8d8;
        width: 324px;
        padding: 30px;
        margin: 10px;
        height: 650px;


    
}   
</style>
<style>
  .newshape{
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
  <div class="conatiner">
    <div class="row">
  {% for i in movie_list %}

  <div class="cards">
    <div class="newshape">
    <img src="{{i.img.url}}" alt="" height="250" width="250">
      <h5 >{{i.name}}</h5>
      <p >{{i.desc}}</p>
      <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Click here</a>
    </div>
  </div>
    {% endfor %}
</div>
</div>


     
{% endblock %}

    

<!-- we deleted everycode from here and pasted it to base.html so we could write common code for all pages. -->